body {
  background-image: url("purple-haze-background.jpg");
  background-size: 100%;
  color: #ffffff;
}

.App .credits {
  color: #ffffff;
  opacity: 0.6;
  text-align: center;
}
.App .credits a {
  color: #edf9a9;
  margin-bottom: 20px;
  text-decoration: none;
}
